
:root{
    --colour1: #FE9AC9;
    --colour2: #FEC620;
    --colour3: #70D7D0;
    --colour4: #292929;
    --colour5: #D3FF33;
}

body {
    color: var(--colour4);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
}

#randomBoxContainer {
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 10px);
    margin: 10px;
}

#randomBoxContainer .randomBox {
    display: inline-block;
    width: calc(50% - 10px);
    text-align: center;
    min-height: 150px;
    vertical-align: middle;
    padding: 10px;
}

.randomBox p:not(#quote,#image) {
    font-size: large;
    font-weight: bolder;
}

#randomQuoteBox {
    background-color: var(--colour3);
    margin-right: 5px;
}

#randomPictureBox {
    background-color: var(--colour2);
    margin-left: 5px;
}

#image {
    max-width: 50%;
}

#footer {
    color: var(--colour4);
    text-align: center;
    background-color: var(--colour1);
    padding: 20px;
}

#subscribeForm {
    padding-top: 10px;
    padding-bottom: 15px;
}

.formElement {
    display: inline;
    margin-top: 5px;
    margin-top: 5px;
}

#subscribeButton {
    background-color: var(--colour3);
    border-color: var(--colour5);
}

#subscribeButton:hover {
    color: navy;
    background-color: var(--colour5);
    border-color: var(--colour3);
}

#printMessage {
    font-size: larger;
    color: var(--colour4);
    font-style: italic;
}

/* .footerLinks a:hover {
    color: var(--colour3);
} */

.footerLinks ul span {
    color: var(--colour2)
}

.footerLinks ul li{
    display: inline-block;
    list-style: none;
}

#footerFooter {
    background-color: var(--colour2);
    text-align: center;
    padding: 8px;
}

@media only screen and (max-width: 480px) {

    .formElement {
        display: block;
        width: 60%;
        margin: auto;
        margin-bottom: 5px;
    }

    .formElement:not(#subscribeButton) {
        width: 80%;
    }

}