/* Declarations */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --colour1: #FE9AC9;
    --colour2: #FEC620;
    --colour3: #70D7D0;
    --colour4: #292929;
    --colour5: #D3FF33;
}

body {
    font-family: Poppins;
    color: var(--colour4);
/*     font-family: Arial, Helvetica, sans-serif; */
}

/* Header */

nav {
    background: #A8096F;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display:block;
}

.logo a {
    font-size: 32px;
}

.button {
    border-bottom: 1px #ffffff solid;
}

/* Mobile Menu */
.menu {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display:none;
}

.item.active {
    display:block;
}

.toogle {
cursor: pointer;
}

.bars {
    background: #ffffff;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,.bars:after {
    background: #ffffff;
    content:"";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top:5px;
}

.bars::after {
    top:-5px;
}

/*Tablet Menu*/

@media all and (min-width: 468px) {
    .menu {     
        justify-content: center;
    }
    .logo {
        flex:1;
    }
    .item.button {
        width:auto;
        order:1;
        display:block;
    }

    .toggle {
        order:2;
    }
    .button {
        border: 0;
    }

    .button a {
        text-decoration: none;
        padding: 7px 24px;
        background: #295f5a;
        border-radius: 50em;
    }

    .button a:hover {
        transition: all .25s;
        background: #000000;
        color: #ffffff;
    }
}

@media all and (min-width: 768px) {
    .item {
        display:block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo{
        order:0;
    }
    .item {
        order:1;
    }
    .button {
        order:2;
    }

    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }

/* Random generators */  
 
#randomBoxContainer {
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 10px);
    margin: 10px;
}

#randomBoxContainer .randomBox {
    display: inline-block;
    width: calc(50% - 10px);
    text-align: center;
    min-height: 150px;
    vertical-align: middle;
    padding: 10px;
}

.randomBox p:not(#quote,#image) {
    font-size: large;
    font-weight: bolder;
}

#randomQuoteBox {
    background-color: var(--colour3);
    margin-right: 5px;
}

#randomPictureBox {
    background-color: var(--colour2);
    margin-left: 5px;
}

#image {
    max-width: 50%;
}

 /* Footer */
  
#footer {
    color: var(--colour4);
    text-align: center;
    background-color: var(--colour1);
    padding: 20px;
}

#subscribeForm {
    padding-top: 10px;
    padding-bottom: 15px;
}

.formElement {
    display: inline;
    margin-top: 5px;
    margin-top: 5px;
}

#subscribeButton {
    background-color: var(--colour3);
    border-color: var(--colour5);
}

#subscribeButton:hover {
    color: navy;
    background-color: var(--colour5);
    border-color: var(--colour3);
}

#printMessage {
    font-size: larger;
    color: var(--colour4);
    font-style: italic;
}

/* .footerLinks a:hover {
    color: var(--colour3);
} */

.footerLinks ul span {
    color: var(--colour2)
}

.footerLinks ul li{
    display: inline-block;
    list-style: none;
}

#footerFooter {
    background-color: var(--colour2);
    text-align: center;
    padding: 8px;
}

@media only screen and (max-width: 480px) {

    .formElement {
        display: block;
        width: 60%;
        margin: auto;
        margin-bottom: 5px;
    }

    .formElement:not(#subscribeButton) {
        width: 80%;
    }

/* Page2 */    
  
.page2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ffffff;
}

.container {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    display: flex;
    gap: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    width: 55%;
}

.heading {
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    color: #A8096F;
}

.h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 3;
    color: rgb(0, 0, 0);
}

.text {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #000000;
    border: none;
    outline: none;
    background-color: rgb(244, 242, 241);
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: #000000;
    opacity: 0.5;
    font-size: 12px;
}

.inputBox.error input,
.inputBox.error textarea {
    border-bottom: 1px solid rgb(255, 9, 9);
}

.inputBox:not(.error) input:focus,
.inputBox:not(.error) textarea:focus {
    border-bottom: 1px solid #A8096F;
}

.inputBox textarea {
    resize: none;
    height: 150px;
}

.inputBox .err-msg {
    font-size: 10px;
    color: rgb(255, 9, 9);
}

.buttonPage2 {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #A8096F;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.buttonPage2:hover {
    background-color: #05050596;
}

.right {
    width: 45%;
}

.illustration img {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .left,
    .right {
        width: 100%;
    }
    .contact.info {
        margin-top: 40px;
  }
}