
:root{
    --colour1: #FE9AC9;
    --colour2: #FEC620;
    --colour3: #70D7D0;
    --colour4: #292929;
    --colour5: #D3FF33;
}

body {
    color: var(--colour4);
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    color: var(--colour4);
    text-align: center;
    background-color: var(--colour1);
    padding: 20px;
}

#subscribeForm {
    padding-top: 10px;
    padding-bottom: 15px;
}

.formElement {
    display: inline;
    margin-top: 5px;
    margin-top: 5px;
}

#subscribeButton {
    background-color: var(--colour3);
    border-color: var(--colour5);
}

#subscribeButton:hover {
    color: navy;
    background-color: var(--colour5);
    border-color: var(--colour3);
}

#printMessage {
    font-size: larger;
    color: var(--colour4);
    font-style: italic;
}

.footerLinks a:link {
    color: inherit;
}

.footerLinks ul li{
    display: inline-block;
    list-style: none;
}

#footerFooter {
    background-color: var(--colour2);
    text-align: center;
}

@media only screen and (max-width: 480px) {

    .formElement {
        display: block;
        width: 60%;
        margin: auto;
        margin-bottom: 5px;
    }

    .formElement:not(#subscribeButton) {
        width: 80%;
    }

}